{% extends "base.html" %}
{% block content %}
  {% block heading %}{% endblock %}
  {% if form.errors %}
      <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
      </p>
  {% endif %}
  {% block formData %}{% endblock %}

  <div class="row">
    <div class="col-md-6">
      <p>
        CSS test this should take up half the screen
      </p>
    </div>
    <div class="col-md-6">
      <p>
        CSS test this should take up the other half the screen
      </p>
    </div>
  </div>
{% endblock %}
